body{
  background-color: #27ae60;
}
#memory_board{
  background: #ccc;
  border: #999 1px solid;
  width: 640px;
  height: 430px;
  padding: 24px;
  margin: 0px auto;
  transform: translateY(10%);
}
#memory_board .tile {
  border:#000 1px solid;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  height: 84px;
  width: 84px;
}

#memory_board .tile .front {
  background: url("icons/a1.png") no-repeat;
  background-size: cover;
  height: 84px;
  width: 84px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#memory_board .tile .back {
  width:84px;
  height: 84px;
  background-color: white;
  padding: 10px;
  font-size: 64px;
  line-height: 64px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
#heading{
  text-align: center;
  color: black;
}
#heading h3{
  font-size: 30px;
  text-decoration: underline;
}
#heading p{
  font-size: 20px;
}

